In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('E:\\python_Training\\linear regression\\Decision_tree\\salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [8]:
target=df.salary_more_then_100k
attributs=df.drop('salary_more_then_100k',axis=1)

In [4]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [13]:
attributs['company_e']=le_company.fit_transform(attributs['company'])
attributs['job_e']=le_job.fit_transform(attributs['job'])
attributs['degree_e']=le_degree.fit_transform(attributs['degree'])
attributs.head()

  company                  job     degree  company_e  job_e  degree_e
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [19]:
attributs_e=attributs.drop(['company','job','degree'], axis=1)
attributs_e

    company_e  job_e  degree_e
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [15]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [16]:
model.fit(attributs_e, target)

DecisionTreeClassifier()

In [18]:
model.score(attributs_e, target)

1.0

In [20]:
model.predict([[2,2,1]])

C:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [21]:
model.predict([[1,1,0]])

C:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)